@import url(https://fonts.googleapis.com/css?family=Rokkitt:400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500italic,500,700,700italic);
@import 'patternbolt.scss';
@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: flex;
        justify-content: center;
        align-content: center;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // border: 1px solid rgba(0, 0, 0, .2);
        width: 90%;
        height: 93%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }

    > .cardback {
      @include pb('feather', 45px, $RED, white, 0.9, 'mask');
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 85%;
      height: 90%;
    }
}


$RED: #BD0009;
$BLUE: #0A1551;
$CHAR: #333333;
// #C41330
// #EC2124
// #093466
// #202558
//
//
.fade {
    // border: 1px solid black;
    // margin: 0 !important;
    // position: relative;
    // top: 44px;
    z-index: 9999;
    -webkit-transition: width 2s ease-in-out;
    transition: all 2s ease-in-out;
    width: 0;
    opacity: 0;
}
.fade.active {
    opacity: 1;
}
html {
    font-size: 16px;
    @media (min-width: 800px) {
        font-size: 18px;
    }
    @media (min-width: 1200px) {
        font-size: 20px;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rokkitt', serif;
    font-weight: normal;
    color: $BLUE;
}
h1 {
    font-size: 3.129vmin;
    line-height: 1.2;
    @media (min-width: 1200px) {
        font-size: 2.3353vmax;
        line-height: 1.3;
    }
}
h2 {
    font-size: 2.629vmax;
    line-height: 1.2;
    @media (min-width: 1200px) {
        font-size: 2.3353vmax;
        line-height: 1.3;
    }
}
h3 {
    font-size: 2.129vmax;
    // line-height: 1;
    @media (min-width: 1200px) {
        font-size: 2.3353vmax;
        // line-height: 1;
    }
}

p {
  font-family: 'Ubuntu', sans-serif;
}

.navigation {
    list-style: none;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background: $CHAR;
    -webkit-box-shadow: 0 2px 7px rgba(10, 21, 81, 0.3);
    box-shadow: 0 2px 7px rgba(10, 21, 81, 0.3);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
}
.navigation a {
    text-decoration: none;
    position: relative;
    display: block;
    padding: 1em;
    color: white;
}

.navigation a:hover {
    background: lighten($CHAR, 10%);
}

.players {
    box-sizing: border-box;
    // border: 1px solid orange;
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}
.player {
    @include aspect-ratio(11, 15);
    // box-sizing: border-box;
    margin-top: 15px;
    width: 25%;
    // border: 0 solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 1);
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    // background: rgba(0, 0, 0, .5);
    font-weight: bold;
    text-align: center;
    position: relative;

}

.history {
    // border: 1px solid blue;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gamehistory {
    // border: 1px solid red;
    padding-top: 5px;
    min-width: 30%;
    display: flex;
    margin: auto;
    align-items: center;
    // justify-content: center;

}
.gameid {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Rokkitt', serif;
    font-weight: normal;
    color: $RED;
    font-size: 2vmax;
}
.scorecard {
    // border: 1px solid orange;
    width: 80%;

}
.scorecard {
    table {
        width: 100%;
        text-align: center;
    }
    th {
        border-bottom: 2px solid $BLUE;
        a {
            color: $BLUE;
        }
    }
    td {
        width: 25%;
    }
    a {
        font-family: 'Ubuntu', sans-serif;
        text-decoration: none;
    }

}
.details {
    width: 80%;
    margin: auto;
}

.red {
    color: $RED;
}
.maincontent {
    width: 80%;
    // margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.mainleft {
    width: 30%;
    ul {
        list-style: none;
        padding-left: 0;
    }
}
.mainright {
    width: 60%;
}
.playingcard {
    @include aspect-ratio(11, 15);
    box-sizing: border-box;
    margin-top: 15px;
    width: 23%;
    // border: 0 solid rgba(0, 0, 0, .2);
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 1);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    position: relative;

    .letter{
      font-family: 'Rokkitt', serif;
      font-weight: 700;
      font-size: 3vw;
      display: flex;
      align-self: flex-start;
      justify-content: center;
      align-items: center;
      // border: 1px solid orange;
      width: 11.67%;
      height: 12%;
    }
    .center {
        width: 76.66%;
        height: 88.5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .last {
        align-self: flex-end;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
    }
}

.playingcard:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

button {
  background-color: $RED;
  color: white;
  border-radius: 5px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait) {
    .navigation {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    .navigation li:last-of-type a {
        border-bottom: none;
    }
    .players {
      width: 90%;
    }

    .playingcard {
      width: 30%;
    }
    .gamehistory {
      // margin-top: 1vh;
      width: 90%;
    }
}
@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}
