<section class="maincontent">
  <div class="mainleft">
    <h2>{{player.name}} {{name}} Page </h2>
  <div>
    Name: {{player.name}} <br>
    ID: {{player.id}} <br>
  </div>
  <!-- <div>
  <form class="" ng-model="$index">
    <input type="radio" name="position" value="0" checked> 1<br>
    <input type="radio" name="position" value="1" checked> 2<br>
    <input type="radio" name="position" value="2" checked> 3<br>
    <input type="radio" name="position" value="3" checked> 4<br>
  </form>
  </div> -->
</div>
<div class="mainright">
  <div class="gamehistory" ng-repeat="game in games | filter: player.id">
    <div class="gameid">
      {{game.id}}
    </div>
    <div class="scorecard">
        <table>
            <thead>
                <tr>
                    <th ng-repeat="position in game.position track by $index">
                        <a ui-sref="details({id: position.id})">{{position.name}}</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <td ng-repeat="s in game.scores track by $index">
                    {{scoreSum(s)}}
                </td>
            </tbody>
        </table>
    </div>
</div>
</div>
</section>
