<section class="maincontent">
    <div class="mainleft">
        <h1>How to play:<br /><strong class="red">Hearts</strong></h1>
        <ul>
            <p><li>Game Type: Trick Taking</li></p>
            <p><li>Age: 13+</li></p>
            <p><li>Players: 3, 4, 5+</li></p>
        </ul>
    </div>

    <div class="mainright">
        <p>Many trick-taking games are not directly related to Bridge or Whist. Perhaps the foremost one is Hearts, which is truly one of the greatest card games ever devised for four players, each playing individually.</p>
        <h3>The Pack</h3>
        <p>The standard 52-card pack is used.</p>
        <h3>Object of the Game</h3>
        <p>To be the player with the lowest score at the end of the game. When one player hits the agreed-upon score or higher, the game ends; and the player with the lowest score wins.</p>
        <h3> Card Values/Scoring</h3>
        <p>At the end of each hand, players count the number of hearts they have taken as well as the queen of spades, if applicable. Hearts count as one point each and the queen counts 13 points.
            <br>
            <ul>
                <li>Each heart - 1 point</li>
                <li>The Q - 13 points</li>
                <li>The aggregate total of all scores for each hand must be a multiple of 26.</li>
                <li>The game is usually played to 100 points (some play to 50).</li>
                <li>When a player takes all 13 hearts and the queen of spades in one hand, instead of losing 26 points, that player scores zero and each of his opponents score an additional 26 points.</li>
            </ul>
        </p>
        <h3>The Deal</h3>
        <p>Deal the cards one at a time, face down, clockwise. In a four-player game, each is dealt 13 cards; in a three-player game, the 2 of diamonds should be removed, and each player gets 17 cards; in a five-player game, the 2 of diamonds and 2 of clubs
            should be removed so that each player will get 10 cards.</p>
        <h3>The Play</h3>
        <p>The player holding the 2 of clubs after the pass makes the opening lead. If the 2 has been removed for the three handed game, then the 3 of clubs is led.</p>
        <p>Each player must follow suit if possible. If a player is void of the suit led, a card of any other suit may be discarded. However, if a player has no clubs when the first trick is led, a heart or the queen of spades cannot be discarded. The highest
            card of the suit led wins a trick and the winner of that trick leads next. There is no trump suit.</p>
        <p>The winner of the trick collects it and places it face down. Hearts may not be led until a heart or the queen of spades has been discarded. The queen does not have to be discarded at the first opportunity.</p>
        <p>The queen can be led at any time.</p>
    </div>
</section>
