<header>
    <!-- <div class="logo">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle red fa-stack-2x"></i>
          <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
        </span>
    </div> -->
        <nav>
            <ul class="navigation">
                <li><a ui-sref="home">Home</a></li>
                <li><a ui-sref="games">Game History</a></li>
                <li><a ui-sref="players">Players</a></li>
                <!-- <li><a ui-sref="newgame">New Game</a></li> -->
            </ul>
        </nav>
</header>
